:root {
  --font-stack: 'Red Hat Display', sans-serif;

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --xtra-pale-blue: hsl(225, 100%, 98%);
  --desat-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  font: 100% var(--font-stack);
  color: var(--dark-blue);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--pale-blue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

h1, h2, h3, h4 {
  font-weight: 900;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .8rem;
}

p {
  font-size: .75rem;
  color: var(--desat-blue);
}

.primary {
  background-color: var(--bright-blue);
  color: white;
  box-shadow: 0 9px 10px rgba(0, 0, 255, 0.295);
}

.primary:hover {
  opacity: .8;
}

.cancel {
  background-color: white;
  color: gray;
}

.cancel:hover {
  color: black;
}

.text-margin {
  margin-bottom: 15px;
}

.center-text {
  text-align: center;
}

.center-column-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.flex-end {
  justify-self: end;
}

.card {
  width: 300px;
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

.card .header-img {
  width: 100%;
}

.card .contents {
  padding: 25px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.plan {
  position: relative;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: var(--xtra-pale-blue);
  padding: 15px;
}

.plan img {
  width: 40px;
  border-radius: 25px;
  margin-right: 10px;
}

.plan a {
  margin-left: auto;
  font-size: .7rem;
  color: var(--bright-blue);
  text-decoration: underline;
  cursor: pointer;
}

.plan a:hover {
  color: var(--desat-blue);
  text-decoration: none;
}

button {
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  font-size: 0.8rem;
  font-weight: 900;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

footer {
  height: 20px;
  width: 100%;
  background: rgb(0, 0, 32);
}

footer li {
  list-style: none;
}

.attribution { font-size: 11px; text-align: center; color: var(--pale-blue); }
.attribution a { color: hsl(227, 18%, 54%); }

@media (max-width: 500px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
  }
}